@page "/folder/{entityId}"

@using System.IO
@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models
 
@if(entity == null)
{
    <p><em>Loading...</em></p>
}
else
{
     <div style="justify-content: center;" class="form-row">
        <h2>@entity.Name</h2>
    </div>
    
    <hr style="margin-top: 0px;" />

    <div style="justify-content: center;" class="form-row">
        <div class="btn-group" role="group" aria-label="Menu bar">
            <button type="button" class="@GetButtonClass(0)" @onclick="(() => ChangeSelected(0))">Chat Info</button>
            <button type="button" class="@GetButtonClass(1)" @onclick="(() => ChangeSelected(1))">Chat Reader</button>
            <button type="button" class="@GetButtonClass(2)" @onclick="(() => ChangeSelected(2))">Chat Searcher</button>
            <button type="button" class="@GetButtonClass(3)" @onclick="(() => ChangeSelected(3))">Chat Participants</button>
            <button type="button" class="@GetButtonClass(4)" @onclick="(() => ChangeSelected(4))">Upload Chats</button>
        </div>
    </div>
}

<hr />

@if(selected == -1)
{
}
else if(selected == 0)
{
    <ChatInfo
    Id = "@entity.FolderId" />
}
else if(selected == 1)
{
    <ChatReader
    Id = "@entity.FolderId" />
}
else if(selected == 2)
{
    <ChatSeacher
    Id = "@entity.FolderId" />
}
else if(selected == 3)
{
    <Participants
    Id = "@entity.FolderId" />
}
else if(selected == 4)
{
    <UploadController
    Id = "@entity.FolderId" />
    <UploadDates
    Id = "@entity.FolderId" />
}
 
@code {
    [Parameter]
    public String entityId { get; set; }
    public Folder entity { get; set; }
    public int selected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        selected = -1;
        await GetUser();
    }

    public async Task GetUser()
    {
        entity = await apiServices.GetEntityByIdAsync(entityId);
    }

    public void ChangeSelected(int i)
    {
        selected = i;
    }

    public String GetButtonClass(int id)
    {
        if (id == selected)
        {
            return "btn btn-success";
        }
        else
        {
            return "btn btn-secondary";
        }
    }
}