@page "/chatInfo"
@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models;

@if(totalInfo == null )
{
<p>Loading....</p>
}
else
{
<div class="form-row">
    <div class="col-sm-2">
        <label>Total Messages</label>
        <input type="text" class="form-control" @bind="@totalInfo.TotalMessage">        
    </div>
    <div class="col-sm-2">
        <label>Total Words</label>
        <input type="text" class="form-control" @bind="@totalInfo.TotalWords">        
    </div>
    <div class="col-sm-4">
        <label>Messages by hour</label>
@foreach (var item in totalInfo.CommonHours)
{
<li class="list-group-item">
   <div class="form-row">
       <p>@item.Item1 - @item.Item2</p>
   </div>
</li>
}
    </div>
    <div class="col-sm-4">
        <label>Most Common Words</label>
@foreach (var item in totalInfo.CommonWords)
{
<li class="list-group-item">
   <div class="form-row">
       <p>@item.Item1 - @item.Item2</p>
   </div>
</li>
}
    </div>
</div>

}

@code {
    [Parameter]
    public int Id { get; set; }
    TotalFolderInfoDTO totalInfo;

    DateTime from;

    DateTime until;

    protected override async Task OnInitializedAsync()
    {
        await GetTotalFolderInfo();
    }

    public async Task GetTotalFolderInfo()
    {
        totalInfo = await apiServices.GetTotalFolderInfo(Id, from, until);
    }
}